@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?10si43');
  src:  url('fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?10si43') format('truetype'),
    url('fonts/icomoon.woff?10si43') format('woff'),
    url('fonts/icomoon.svg?10si43#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close2:before {
  content: "\e5cd";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-phone:before {
  content: "\f095";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-menu:before {
  content: "\e5d2";
}